<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="6000" id="bs-carousel">
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">

          <h1>FAST TASK</h1>
          <h3>As fast as we can</h3>

        <button class="btn btn-ft btn-lg" role="button" [routerLink]="['/registration']">Zarejestruj</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">

          <h1>FAST TASK</h1>
          <h3>Pobierz oficjalnego klienta Android</h3>


          <a href='https://play.google.com/store/apps/details?id=pl.fasttask&hl=pl&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img height="70" width="170" alt='pobierz z Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pl_badge_web_generic.png'/></a>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">

          <h1>FAST TASK</h1>
          <h3>As fast as we can</h3>

        <button class="btn btn-ft btn-lg" role="button" [routerLink]="['/registration']">Zarejestruj</button>
      </div>
    </div>
  </div>
</div>

<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Założenia</h2>
    <hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-phone"> </i>
        <h4>Mobilna</h4>
        <p>Stworzenie oficjalnego klienta na platformę Android</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-eye-open"> </i>
        <h4>Przejrzysta</h4>
        <p>Prosty i zrozumiały interfejs dla osób w każdym wieku</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-hand-up"> </i>
        <h4>Intuicyjna</h4>
        <p>Wprowadzenie szablonów najbardziej popularnych eventów</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-globe"> </i>
        <h4>Wszechstronna</h4>
        <p>Do wykorzystania zarówno przy organizacji ważnej firmowej konferencji jak i rodzinnego grila</p>
      </div>
    </div>
  </div>
</div>
